<h1>Hi <%= name %></h1>
<h2>Routes:</h2>
<h3>Newspapers: <a href="http://localhost:3000/newspapers"> click here</a></h3>
<h3>News: <a href="http://localhost:3000/news"> click here</a></h3>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>